<% content_for :title, "New ticket" %>

<div class="md:w-2/3 w-full">
<h1 class="text-3xl font-bold text-gray-200 mb-6 text-center">Create a New Ticket</h1>

<%= render "form", ticket: @ticket %>

</div>
